<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximu-scale=1.0, minimum-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
        <link rel="stylesheet" type="text/css" href="../css/normalize.css"/>
        <script src="javascript.js"></script>
        <title>Fulbito - Inicio de sesión</title>
    </head>
    <body>
        <main class="principal-login">
            <section class="contenedor secundario-l">
                <header>
                <h1 id="principal-title">Fulbito</h1>
                <img id="player" src="../css/SVG/Render-player.svg" alt="Imagen no cargada"/>
                    <img id="simbolos" src="../css/SVG/Symbols.svg" alt="Imagen no cargada"/>
                        <hgroup class="title-subtitle">
                            <h1>¡Bienvenido!</h1>
                            <h2>Inicia sesión para continuar</h2>
                        </hgroup>
                </header>
                
                <form class="formulario-l" action="" method="">
                    <input type="email" name="correo" placeholder="Usuario o correo electronico" required/>
                    <input type="password" name="contraseña" placeholder="Contraseña" required/>
                    <a id="lost-pass" href="#">¿Perdiste tú contraseña?</a>
                    <input type="submit" id="submit" name="login" value="Iniciar sesión" required/>
                </form>
                <footer class="footer-form">
                    <h1 id="register-now">¿Todavía no tienes una cuenta?</h1> <a id="violet-link" href= "registro.html">¡Registrate ahora!</a>
                </footer>
            </section>
            
            <section class="contenedor terciario-l">
                <img src="../css/SVG/Logo-form.svg" alt="Imagen no cargada"/>
            </section>

        </main>
    </<body>
</html>