<main class="principal-login">
            <section class="contenedor secundario-l">
                <header class="header-login">
                <h1 id="principal-title">Fulbito</h1>
                <!--C:\Users\Hex4w0rd\Desktop\Fulbito-Angular\fulbito-front\fulbito-front\src\app\styles\SVG\Symbols.svg-->
                <img id="player" src="" alt="Imagen no cargada"/>
                    <img id="simbolos" src="../SVG/Render-player.svg" alt="Imagen no cargada"/>
                        <div class="title-subtitle">
                            <h1>¡Bienvenido!</h1>
                            <h2>Inicia sesión para continuar</h2>
                        </div>
                </header>
                
                <form class="formulario-l" action="" method="">
                    <input type="email" name="correo" placeholder="Usuario o correo electronico" required/>
                    <input type="password" name="contraseña" placeholder="Contraseña" required/>
                    <a id="lost-pass" href="#">¿Perdiste tú contraseña?</a>
                    <input type="submit" id="submit" name="login" value="Iniciar sesión" required/>
                </form>
                
                <footer class="footer-form">
                    <h1 id="register-now">¿Todavía no tienes una cuenta?</h1> <a id="violet-link" href= "registro.html">¡Registrate ahora!</a>
                </footer>
            </section>
            
            <section class="contenedor terciario-l">
                <img src="css/SVG/Logo-form.svg" alt="Imagen no cargada"/>
            </section>
</main>