            <main class="principal">
            <section class="contenedor secundario">
                <header>
                    <img src="css/SVG/Symbols.svg" alt="Imagen no cargada"/>
                        <div class="title-subtitle">
                            <h1>¡Bienvenido!</h1>
                            <h2>Inicia sesión para continuar</h2>
                        </div>
                </header>
                <form class="formulario" action="" method="">
                    <input type="text" name="nombre-apellido" placeholder="Nombre y apellido" required/>
                    <input type="text" name="usuario" placeholder="Usuario" required/>
                    <input type="password" name="contraseña" placeholder="Contraseña" required/>
                    <input type="email" name="correo" placeholder="Correo electronico" required/>
                    <input type="text" name="t-documento" placeholder="Tipo de documento" required/>
                    <input type="text" name="n-documento" placeholder="Numero de documento" required/>
                    <input type="button" id="cancel" name="cancelar" value="Cancelar" required/>
                    <input type="submit" id="submit" name="enviar" value="Registrarse" required/>
                </form>
                <footer>
                    <h1>¿Ya tienes una cuenta?</h1> <a href= "index.html">¡Inicia sesion!</a>
                </footer>
            </section>
            
            <section class="contenedor terciario">
                <img src="css/SVG/Logo-form.svg" alt="Imagen no cargada"/>
            </section>
        </main>